h3 span {
    color: #133769;
    text-transform: uppercase;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3em;
}

.info_text {
    width: 60%;
    text-align: left;
}

.info_img {
    width: 25%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 2em 0 2em 1.5em;
    width: 100%;
}

.cards_shop .popup {
    margin-left: 20em;
}

.card {
    padding-left: 15px;
    padding-right: 5px;
    width: 19%;
    display: flex;
    flex-direction: column;
    border: solid 1px;
    border-radius: 0.4rem;
    margin: 0 1rem 2rem 1rem;
}

.img_card {
    align-items: center;
    width: 200px;
    height: 8em;
    margin: auto;
}

.img_card img {
    width: 70%;
    margin-top: 5px;
}

.card p {
    margin-top: 1.2rem;
    margin-bottom: 0;
    text-align: center;
}

.card button {
    width: 70%;
    margin: 1rem auto;
    padding: 0.5rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #2E76E4;
    color: #fff;
    cursor: pointer;
}