body {
    font-family: "Merienda", cursive;
}

/* .tabs {
    padding: 10px;
}

.tabs-nav {
    display: flex;
    align-items: center;

}

.nav-item {
    color: #000000;
    cursor: pointer;
    padding: 5px 10px;
    text-transform: capitalize;
    transition: color 0.5s linear;
    -webkit-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
}

.active {
    border-bottom: 2px solid #00d0ab;
    color: #00d0ab;
    transition: color 0.5s linear;
    -webkit-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
    display: flex;
}

.refuge {
    display: flex;
}

.products {
    width: 70%;
}

.tabs-content {
    margin-top: 20px;
} */
.general {
    display: flex;
}

.img_products {
    width: 20%;
}

.tabs-refuges {
    display: flex;
    flex-direction: column;
    width: 60em;
}

.tabs-refuges h3 {
    width: 10em;
}

.refuge p {
    width: 10em;
    cursor: pointer;
}

.products {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.tabs-content {
    width: 30%;
}