:root {
    --accent-color: #a876aa;
}

.main {
    width: 100%;
    height: 37em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.main_text {
    margin-left: 12em;
    margin-bottom: 12em;
}

.main_text p {
    margin: 0;
    font-size: 1.3em;
}

.main_text p:nth-child(2) {
    font-size: 2em;
}

/* *****  PARALLAX ******* */

.parallax {
    position: absolute;
    top: 83px;
    left: 0;
    width: 100%;
    height: 100%;
}


.background-bones {
    background: url("../../public/img/background/bones.png");
    background-size: 40% 90%;
    height: 70%;
    z-index: 1;
    filter: blur(0.3px);
}

.background-animals {
    background: url("../../public/img/background/cat_dog_2.png");
    background-repeat: no-repeat;
    z-index: 2;
    background-position: center;
    background-size: 80%;
}

/* **********************    TOTAL   *********************** */

.total-fond {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4em;
}

.total-fond div {
    width: 15%;
}

.total-figure {
    font-size: 3.5em;
    margin: 0;
}

@media screen and (max-width: 980px) and (min-width: 780px) {
    .main {
        height: 22em;
    }

    .cards {
        width: 90%;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: initial;
    }

    .card {
        width: 20%;
        flex: 0 0 auto;
    }

    .img_card img {
        width: 80%;
    }

    .img_card {
        height: 8rem;
    }

    .card button {
        width: 95px;
        overflow: hidden;
        white-space: nowrap;
        display: block;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 780px) and (min-width: 630px) {
    .main {
        height: 19em;
    }

    .cards {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: initial;
    }

    .card {
        width: 25%;
        flex: 0 0 auto;
    }

    .main_text p {
        margin: 0;
        font-size: 1em;
    }

    .main_text p:nth-child(2) {
        font-size: 1.5em;
    }

    .img_card img {
        width: 70%;
    }

    .img_card {
        height: 7rem;
    }

    .card button {
        width: 80%;
        overflow: hidden;
        white-space: nowrap;
        display: block;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 630px) {
    .main {
        height: 12em;
    }

    .main_text {
        margin-left: 1em;
        margin-bottom: 5em;
        font-size: 0.8rem;
    }

    .cards {
        width: 90%;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: initial;
    }

    .card {
        width: 27%;
        flex: 0 0 auto;
        font-size: 0.7rem;
    }

    .img_card img {
        width: 80%;
    }

    .img_card {
        height: 5rem;
    }

    .card button {
        width: 85%;
        overflow: hidden;
        white-space: nowrap;
        display: block;
        text-overflow: ellipsis;
        margin-right: 1rem;
    }

    .total-figure {
        font-size: 2.5em;
    }
}