.shop {
    display: flex;
}

.column-refuges {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.active {
    border-bottom: 2px solid;
    border-color: #783fcc;
}

.refuge {
    margin-bottom: 1rem;
}

.refuge button {
    width: 12em;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    text-align: left;
    padding-bottom: 0.5rem;
}

/*  ***********  CARDS  ************** */

.shop .cards {
    flex-wrap: wrap;
    justify-content: initial;
    margin-left: 1.5rem;
}

.shop .card {
    width: 23%;
    margin-bottom: 1.5rem;
}

.shop .popup {
    top: 50%;
    left: 45%;
}

@media screen and (max-width: 980px) and (min-width: 780px) {
    .shop {
        margin: 1rem;
    }

    .shop .card {
        width: 30%;
    }
}

@media screen and (max-width: 780px) and (min-width: 630px) {
    .shop {
        margin: 1rem;
    }

    .shop .card {
        width: 35%;
    }
}

@media screen and (max-width: 630px) {
    .shop {
        margin: 1rem;
    }

    .shop {
        flex-direction: column;
    }

    .shop .card {
        width: 50%;
    }

    .shop .card p {
        margin: 0;
    }

    .shop .img_card {
        height: 10rem;
    }

    .shop .img_card img {
        width: 60%;
    }
}