body {
  margin: 0;
  font-family: Roboto, Georgia, sans-serif;
  font-size: 1.1rem;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


/* **********   HEADER  **************/

header {
  width: 100%;
  background-color: #2E76E4;
  padding: 2rem 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: #fff;
  font-size: 1.3rem;
  text-decoration: none;
  margin-left: 2rem;
}

.button-logout {
  background-color: transparent;
  border: none;
}

/* *********** NAV  ***************** */

.nav {
  display: inline-block;
}

.nav .link {
  color: #fff;
  text-decoration: none;
  margin-right: 1.1rem;
  margin-left: 1.2rem;
  padding: 0.4rem 0.6rem;
}

.nav a {
  margin-right: 1.1rem;
}

.nav .fas {
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  padding: 0.3rem;
}

.nav a:hover,
.nav i:hover {
  background-color: #fff;
  color: #00748D;
  border-radius: 10px;
}

.button-logout {
  display: inline-block;
  margin-block-start: 0;
  margin-block-end: 0;
}

/* ************  CARDS ****************  */

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 4em auto;
}

.card {
  padding-left: 15px;
  padding-right: 5px;
  width: 19%;
  display: flex;
  flex-direction: column;
  border: solid 1px;
  border-radius: 0.4rem;
  margin: 0 1rem;
}

.img_card {
  align-items: center;
  width: 100%;
  height: 220px;
  margin: auto;
}

.img_card img {
  width: 90%;
  margin-top: 10px;
}

.card p {
  text-align: left;
  margin-top: 1.2rem;
  margin-bottom: 0;
}

.card a {
  text-align: left;
}

.card button {
  width: 55%;
  margin: 1rem auto;
  padding: 0.4rem 0;
  border: 0;
  border-radius: 0.3rem;
  background-color: #2E76E4;
  color: #fff;
  cursor: pointer;
}

.fa-shopping-cart {
  position: relative;
}

.fa-shopping-cart span {
  padding: 1px 1px;
  font-weight: 700;
  box-shadow: 0 0 0 2px #fff;
  top: -1px;
  left: 21px;
  background: linear-gradient(0deg, #fc8507 0%, #ffa218 100%);
  border-radius: 9px;
  align-items: center;
  color: #fff;
  display: inline-flex;
  font-size: 13px;
  height: 10px;
  justify-content: center;
  line-height: 13px;
  min-width: 12px;
  position: absolute;
  text-align: center;
}

/* **********************    POPUP-MESSAGE   *********************** */
.box_popup {
  display: flex;
  justify-content: center;
}

.popup {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  background-color: rgba(46, 118, 228, 0.8);
  border: solid 1px;
  border-radius: 6px;
  border-color: #2f3d52;
  color: #fff;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  padding: 0.8rem 0.8rem;
}

.hidden {
  visibility: hidden;
  display: none;
}

/* Add animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*************** FORM *************** */

.form_section {
  margin: 2rem auto;
  padding: 2.5rem 1rem;
  width: 25%;
  border: 1px solid #2f3d52;
}

.form_section .popup {
  top: 30%;
  left: 43%;
  background-color: rgba(195, 45, 70, 0.2);
  color: #C32D46;
  border-color: #C32D46;
}

.form_title {
  border-bottom: 0.15rem solid;
  border-color: #783fcc;
}

.form_section form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-box {
  margin-bottom: 1rem;
  display: flex;
}

.input-box label {
  text-align: left;
  margin-bottom: 0.2rem;
}

.input-box {
  flex-direction: column;
  margin: 1rem 2rem;
}

.input-box input {
  margin: 0.4rem 0;
  width: 94%;
  line-height: 1.5rem;
}

.form_section .button {
  width: 70%;
  margin: 0 auto;
  font-size: 1rem;
  background-color: #2E76E4;
  color: #fff;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  border: 0.1rem solid #2E76E4;
}

.form_section .button:enabled:hover {
  background-color: #fff;
  color: #2E76E4;
  border: 0.1rem solid #2E76E4;
  font-weight: bold;
}

.link {
  color: #2E76E4;
}

.link:hover {
  color: #783fcc;
}

@media screen and (max-width: 780px) and (min-width: 630px) {
  .form_section {
    width: 70%;
  }

  .input-box input {
    width: 80%;
    margin: 1.1rem auto;
  }

  .input-box label {
    margin: 0 auto;
  }
}

@media screen and (max-width: 630px) {
  .form_section {
    width: 70%;
  }

  .input-box input {
    width: 80%;
    margin: 0.5rem auto;
  }

  .input-box label {
    margin: 0.5rem auto;
  }

}

/********** FOOTER  **************/

footer {
  width: 100%;
  background-color: #2f3d52;
  padding: 5rem 0 5rem 0;
  color: #fff;
  margin-top: 1rem;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  color: #2E76E4;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 0;
  text-align: center;
}

.footer>li {
  width: 28%;
}

.footer li {
  list-style: none;
  font-size: 16px;
  margin-bottom: 0.3rem;
}

li>p {
  text-transform: uppercase;
  font-size: 18px;
}

ul {
  padding: 0;
  margin: 0;
}

.reseaux {
  display: flex;
  justify-content: center;
}

.reseaux i {
  margin-right: 15px;
}

.reseaux i:hover {
  color: #2E76E4;
}

@media screen and (max-width: 980px) and (min-width: 780px) {
  .header {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 780px) and (min-width: 630px) {
  .header {
    display: flex;
    flex-wrap: wrap;
  }

  .logo {
    margin-left: 2rem;
    padding-bottom: 1.2rem;
  }
}

@media screen and (max-width: 630px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
  }

  .nav .icons {
    margin-left: 14rem;
    position: absolute;
    top: 32px;
  }

  .logo {
    padding-bottom: 1.2rem;
  }

  .footer {
    flex-direction: column;
  }

  .footer li {
    font-size: 0.7rem;
    width: 100%;
  }

  .footer li>p {
    font-size: 1rem;
  }
}

.menu a {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.menu a:focus {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  outline: 3px solid red;
}